 <!DOCTYPE html>
<html>
<body>

<h1>NetSprawl</h1>
<p>What are we going to do?</p>
<div>
	<form action="/do" method="GET">
		<input style="width:115px;" type="submit" name="do" value="Identifier"/>
		<br>
		<input style="width:100px;" type="text" name="host" value="Host"/>
		<input style="width:115px;" type="submit" name="do" value="Enricher"/>
		<br>
		<input style="width:100px;"  type="text" name="target" value="Target"/>
		<input style="width:100px;"  type="text" name="exploit" value="Exploit"/>
		<input style="width:115px;"  type="submit" name="do" value="Exploiter" />
	</form>
</body>
</html>
