 <!DOCTYPE html>
<html>
<body>

<h1>NetSprawl</h1>
<p>What are we going to do?</p>
<div>
	<button style="width:80pt; display: block;" type="button" action="/id" method="GET">
		<a href="./todo">Identifier</a>
	</button>
	<button style="width:80pt; display: block;" type="button">
		Enricher
	</button>
	<button style="width:80pt; display: block;" type="button">
		Exploiter
	
	</button>
</div>
<div>
	<form action="/do">
		<input type="submit" name="id" value="id"/>
		<input type="submit" name="Enricher" value="enricher" />
		<input type="submit" name="Exploiter" value="exploiter" />
	</form>

</body>
</html> 
